<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthomemain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".EvirnmentMainActivity"></activity>
        <activity android:name=".InterfaceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mybuletoothble.BuleToothMainActivity" />
        <activity android:name="com.example.mybuletoothble.ScanBleActivity" />
        <activity android:name="com.example.a12053.voicectroller.VoiceCtrollerMainActivity" />
        <activity android:name="com.example.a11630.face_new.ClockInActivity" />
        <activity android:name="com.example.a11630.face_new.DeleteActivity" />
        <activity android:name="com.example.a11630.face_new.FaceDoorMainActivity" />
        <activity android:name="com.example.a11630.face_new.InquireActivity" />
        <activity android:name="com.example.a11630.face_new.loggingDataActivity" />
        <activity android:name="com.example.mygesturerecognizetest.GuestureRecongnizeMainActivity" />
        <activity android:name="com.example.fancontrolmodule.FanControlMainActivity" />
    </application>

</manifest>